<%- include('templates/atas')-%>
<main id="main" >
  <div class="container">
    <h1></h1>
  </div><!-- End Breadcrumbs -->

  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      &nbsp;
      <div class="section-header">
        <h2>Contact</h2>
        <p>Helo <span>Contact Us</span></p>
      </div>
      <!--End Contact Form -->

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<%- include('templates/bawah')-%>
