<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RapidMail - PT Rapid Teknologi Indonesia</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/logo.png" rel="icon">
  <link href="images/logo.png" rel="apple-touch-icon">
<!--===============================================================================================-->	
	
<!--===============================================================================================-->
	<link rel="stylesheet"  href="stylesheets/TempLogin/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="stylesheets/TempLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="stylesheets/TempLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="stylesheets/TempLogin/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" href="stylesheets/TempLogin/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="stylesheets/TempLogin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="stylesheets/TempLogin/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet"  href="stylesheets/TempLogin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="stylesheets/TempLogin/css/util.css">
	<link rel="stylesheet"  href="stylesheets/TempLogin/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #aca5a5;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
                    <div class="text-center" style="margin-bottom: 10%;">
                        <img  src='images/logo.png' alt=""></img>
                    </div>
					<span class="login100-form-title p-b-43">
						Welcome To Repid Email Gateway
					</span>

                    <h5 style="text-align: center;margin-top: 10%;margin-bottom: 10%;"> Please Login With Your Email Account</h5>

					<a href="/home" class="login100-form-btn">
						<!-- <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/> -->
						
							Login
						
					</a>
                    <div>
                        <p class="text-bottom" bottom style="text-align: center; margin-top: 10%;">Copyright © PT Rapid Technology 2020</p>
                    </div>
					
				</form>

				<div class="login100-more" style="background-image: url('images/rapid.jpg');image-rendering: optimizeQuality ;">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="stylesheets/TempLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/TempLogin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<!-- <script src="stylesheets/TempLogin/vendor/bootstrap/js/popper.js"></script> -->
	<script src="stylesheets/TempLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/TempLogin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/TempLogin/vendor/daterangepicker/moment.min.js"></script>
	<script src="stylesheets/TempLogin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/TempLogin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<!-- <script src="stylesheets/TempLogin/js/main.js"></script> -->

</body>
</html>