<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              PT Rapid Teknologi Indonesia <br> 
              - BSD, Indonesia<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +6221 50835637<br>
              <strong>whatsapp:</strong> +6281296437737<br>
              <strong>Email:</strong> hello@rapidtech.id<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Fat: 09AM - 06PM</strong> <br>
              Saturday: Closed<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="https://web.facebook.com/rapidtechid/?_rdc=1&_rdr" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/rapidtechid/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/rapidtechid/?viewAsMember=true" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Rapid Technology</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="stylesheets/vendor/aos/aos.js"></script>
  <script src="stylesheets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="stylesheets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="stylesheets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="stylesheets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="javascripts/main.js"></script>
  

</body>

</html>